@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root{
    --Texto_escuro: #14183E;
    --Azul: #4372EB;
    --Cinza_claro: #9A9EA6;
}

body{
    font-family: "Plus Jakarta Sans";
}

#container_01{
    border: solid 1px var(--Cinza_claro);
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    display: flex;
    align-items: center;
}


#imagem_dest{
    margin-left: 30px;
}

#icone_pessoa{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70%;
    
}


#text_01{
    margin-left: 123px;
    margin-top: 220px;
    height: 800px;
    width: 800px;
}

#text_01 h1{
    font-weight: 1000;
    font-size: 75px;
    color:  var(--Texto_escuro);
}

span{
    color: var(--Azul);
}

#text_01 p{
    font-size: 16px;
}

#botao_cd{
    margin-top: 40px;
    height: 75px;
    border-radius: 10px 10px 10px 10px;
    width: 220px;
    background-color: var(--Azul);
    display: flex;
    justify-content: center;
    color: white;

}


#play{
    margin-left: 80px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin-top: -55px;
}

#img_viaj{
    display: flex;
    justify-content: right;
    margin-top: -850px;
    height: 750px;
}

#container3{
    display: flex;
    justify-content: space-evenly;
}

#latam{
    height: 150px;
    
}

#expedia{
    margin-top: 40px;
}

#qantas{
    margin-top: 50px;
}

#alitalia{
    margin-top: 40px;
}

#lugares_text{
    margin-top: 150px;
    margin-left: 100px;
}

#lugares_text h1{
    font-weight: 1000;
    color: var(--Texto_escuro);
}

#lugares_text p{
    font-size: 20px;
    font-weight: 1000;
}

#lugares{
    display: flex;
    justify-content: space-evenly;
}

#play i{
    color: var(--Azul);
    margin-right: 10px;
}

#noronha{
    width: 17rem;
    height: 24rem;
    z-index: 10;
    border-radius: 1rem;
    background-image: url(imagens/destino2.png);
    background-size: cover;
    display: flex;
    margin-right: 4rem;
}

#atlas{
    width: 17rem;
    height: 24rem;
    z-index: 10;
    border-radius: 1rem;
    background-image: url(imagens/destino1.png);
    background-size: cover;
    display: flex;
    margin-right: 4rem;
}

#paraiso{
    width: 17rem;
    height: 24rem;
    z-index: 10;
    border-radius: 1rem;
    background-image: url(imagens/destino5.png);
    background-size: cover;
    display: flex;
    margin-right: 4rem;
}

#holanda{
    width: 17rem;
    height: 24rem;
    z-index: 10;
    border-radius: 1rem;
    background-image: url(imagens/destino4.png);
    background-size: cover;
    display: flex;
    margin-right: 4rem;
}

#seq-img{
    margin-left: 3rem;
    margin-top: 3rem;
    justify-content: center;
    display: flex;
}

.text{
    width: 10rem;
    margin-top: 19rem;
    background-color: #d1d3d6ca;
    border-radius: 0px 10px 10px 0px;
    padding: 0.7rem;
    font-weight: bold;
}

#span{
    color: #000755;
}

#reserv{
    margin-top: 150px;
    margin-left: 100px;

}

#reserv p{
    font-size: 20px;
    font-weight: 1000;

}

#reserv h1{
    font-weight: 1000;
    color: var(--Texto_escuro);
}
