@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');

@import url('https://cdn-uicons.flaticon.com/2.5.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

@import url('https://cdn-uicons.flaticon.com/2.5.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

:root{
    --Texto_escuro: #14183E;
    --Azul: #4372EB;
    --Cinza_claro: #9A9EA6;
}

body{
    font-family: "Plus Jakarta Sans";
}

#container_01{
    border: solid 1px var(--Cinza_claro);
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    display: flex;
    align-items: center;
}


#imagem_dest{
    margin-left: 30px;
}

#icone_pessoa{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70%;
    
}


#text_01{
    margin-left: 123px;
    margin-top: 220px;
    height: 800px;
    width: 800px;
}

#text_01 h1{
    font-weight: 1000;
    font-size: 75px;
    color:  var(--Texto_escuro);
}

span{
    color: var(--Azul);
}

#text_01 p{
    font-size: 16px;
}

#botao_cd{
    margin-top: 40px;
    height: 75px;
    border-radius: 10px 10px 10px 10px;
    width: 220px;
    background-color: var(--Azul);
    display: flex;
    justify-content: center;
    color: white;

}


#play{
    margin-left: 80px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin-top: -55px;
}

#img_viaj{
    display: flex;
    justify-content: right;
    margin-top: -850px;
    height: 750px;
}

#container3{
    display: flex;
    justify-content: space-evenly;
}

#latam{
    height: 150px;
    
}

#expedia{
    margin-top: 40px;
}

#qantas{
    margin-top: 50px;
}

#alitalia{
    margin-top: 40px;
}

#lugares_text{
    margin-top: 150px;
    margin-left: 100px;
}

#lugares_text h1{
    font-weight: 1000;
    color: var(--Texto_escuro);
}

#lugares_text p{
    font-size: 20px;
    font-weight: 1000;
}

#lugares{
    display: flex;
    justify-content: space-evenly;
}

#play i{
    color: var(--Azul);
    margin-right: 10px;
}

#noronha{
    width: 17rem;
    height: 24rem;
    z-index: 10;
    border-radius: 1rem;
    background-image: url(imagens/destino2.png);
    background-size: cover;
    display: flex;
    margin-right: 4rem;
}

#atlas{
    width: 17rem;
    height: 24rem;
    z-index: 10;
    border-radius: 1rem;
    background-image: url(imagens/destino1.png);
    background-size: cover;
    display: flex;
    margin-right: 4rem;
}

#paraiso{
    width: 17rem;
    height: 24rem;
    z-index: 10;
    border-radius: 1rem;
    background-image: url(imagens/destino5.png);
    background-size: cover;
    display: flex;
    margin-right: 4rem;
}

#holanda{
    width: 17rem;
    height: 24rem;
    z-index: 10;
    border-radius: 1rem;
    background-image: url(imagens/destino4.png);
    background-size: cover;
    display: flex;
    margin-right: 4rem;
}

#seq-img{
    margin-left: 3rem;
    margin-top: 3rem;
    justify-content: center;
    display: flex;
}

.text{
    width: 10rem;
    margin-top: 19rem;
    background-color: #d1d3d6ca;
    border-radius: 0px 10px 10px 0px;
    padding: 0.7rem;
    font-weight: bold;
}

#span{
    color: #000755;
}

#reserv{
    margin-top: 150px;
    margin-left: 100px;
}

#reserv p{
    font-size: 20px;
    font-weight: 1000;

}

#reserv h1{
    font-size: 50px;
    font-weight: 1000;
    color: var(--Texto_escuro);
}

#img_reserv{
margin-top: -600px;
margin-left: 800px;

}


#div_lupa{
    display: flex;
}
#lupa{
    background-color: rgb(215, 215, 194);
    font-size: 25px;
    height: 60px;
    width: 50px;
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
}

#lupa p{
    margin-left: 10px;
    margin-top: 14px;
}


#text_lupa strong{
    font-size: 20px;
}

#text_lupa h3{
    font-size: 15px;
}

#div_lapis{
    display: flex;
}

#lapis{
    background-color: rgb(215, 215, 194);
    font-size: 25px;
    height: 60px;
    width: 50px;
    margin-right: 30px;
    margin-top: 40px;
    border-radius: 10px 10px 10px 10px;
}

#lapis p{
    margin-left: 14px;
    margin-top: 14px;
}

#text_lapis{
    margin-top: 30px;
}

#text_lapis strong{
    font-size: 20px;
}

#text_lapis h3{
    font-size: 15px;
}

#div_coracao{
    display: flex;
}

#coracao{
    background-color: rgb(215, 215, 194);
    font-size: 25px;
    height: 60px;
    width: 50px;
    margin-right: 30px;
    margin-top: 50px;
    border-radius: 10px 10px 10px 10px;
}

#coracao p{
    margin-left: 11px;
    margin-top: 15px;
}

#text_coracao{
    margin-top: 40px;
}

#text_coracao strong{
    font-size: 20px;
}

#text_coracao h3{
    font-size: 15px;
}

#text_map{
    margin-top: -40px;
}

#mapa{
    margin-top: 70px;
}

#icone{
    margin-top: 80px;
}

#text_map h2{
    display: flex;
    justify-content: center;
}

#text_map h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#text_map p{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#mapa{
    display: flex;
    justify-content: center;
}

#icones_geral{
    display: flex;
}

#icone_mapa{
    margin-left: 130px;
    margin-top: 70px;
    border-radius: 60px 60px 60px 60px;
    width: 60px;
    height: 60px;
    background-color: gray;
}

#div_icone{
    margin-top: 16px;
    margin-left: 16px;
    font-size: 25px;

}

#text_icone1{
    color: var(--Texto_escuro);
    margin-left: 10px;
    margin-top: 50px;
    width: 280px;
}

#icone_coracao1{
    margin-left: 60px;
    margin-top: 70px;
    border-radius: 60px 60px 60px 60px;
    width: 60px;
    height: 60px;
    background-color: gray;
}

#icn_cora{
    margin-top: 16px;
    margin-left: 16px;
    font-size: 25px;
}

#text_coracao1{
    color: var(--Texto_escuro);
    margin-left: 10px;
    margin-top: 50px;
    width: 280px;
}

#icone_pessoas{
    margin-left: 90px;
    margin-top: 70px;
    border-radius: 60px 60px 60px 60px;
    width: 60px;
    height: 60px;
    background-color: gray;
}

#icn_pessoa{
    margin-top: 16px;
    margin-left: 16px;
    font-size: 25px;
}

#text_pesso{
    color: var(--Texto_escuro);
    margin-left: 10px;
    margin-top: 50px;
    width: 300px;
}

#text_destino{
    margin-top: 100px;
    margin-left: 100px;
}

#text_destino span{
    font-weight: 1000;
}

#text_destino h1{
    font-size: 44px;
    font-weight: 1000;
}

#caixa_bromo{
    margin-top: 100px;
    margin-left: 100px;
    background-color: white;
}

#text_bromo{
    width: 300px;
    margin-left: 30px;
}

#video{
    display: flex;
    justify-content: end;
    margin-top: -430px;
    margin-right: 20px;
}

#video img{
    width: 1100px;
}

.container img{
    z-index: 10;
    width: 75rem;
    height: 15rem;
  }

.container-7{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('imagens/destino5.png');
  background-size: cover;
  background-position: left;
  width: 75rem;
  border-radius: 1rem;
  height: 13rem;
  margin-top: -10rem;
  margin: auto;
  }


.texto{
    color: #fff;
    width: 50rem;
    display: block;
  }



  .texto p{
    margin-top: 2rem;
  }

  #div-depoimentos .paragrafo_texto{
    color: #4372EB;
    font-weight: bold;
    font-size: 1.4rem;
    }
    
    #div-depoimentos{
        justify-content: center;
        margin: auto;
        text-align: center;
        display: block;
        z-index: 10;
        }

        #divs-depoimentos{
            justify-content: center;
            margin: auto;
            text-align: center;
            margin-right: 10rem;
            }
    
        #div-depoimentos h1{
            font-size: 3rem;
            display: block;
            margin: 3rem 0;
            }
    
        #sect-depoimentos{
            margin: 4rem 15rem;
        }
    
        #div-avatar1{
       width: 20rem;
       background-color: #e5e5e5a9;
       height: 21rem;
       padding: 1rem;
       border-radius: 1rem;
       box-shadow: 6px 6px 6px #9A9EA6;
       text-align: center;
       display: block !important;
        }

        #sect-depoimentos{
            margin-top: 10rem;
            display: block !important;
        }
    
        #div-avatar1 p{
            text-align: center;
            width: 14rem;
            margin-left: 3rem;
            color: #9A9EA6;
             }
    
        #divs-depoimentos{
            display: flex;
            margin-top: 5rem;
            margin-left: 6rem;
        }
    
        footer{
            margin-top: 8rem;
            margin-left: 5rem;

        }
    
        #emojis-contato{
            margin-top: 25px;
        }






